button:hover,.logoBox>p:hover,.googleImg:hover,.kakaoImg:hover{
  cursor: pointer;

}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
/* viewport height의100%라는 의미 */
/* 높이는 지정을 해야함 */
/* the div inside of body is located in the middle */
/* body가 감싸고 있는 요소들을 how will you place?  */
/* justyfy 가로 방향으로 요소들을 왔다갔다 */
/* align each element 가 세로 방향으로 요소들을 왔다갔다 */
/* !each element! 인게 중요 */
.logoBox{
  display: flex;
  align-items: center;
  justify-content: center;
}
.pandaImg{
  background-color: rgba(54, 146, 255, 1);
  border-radius: 29px;
  width: 69.82px;
  height: 63.3px;
  padding: 20px 17px;  
  margin-right: 11px;
}
/* img size first, padding next */
.logoBox>p{
  color: rgba(54, 146, 255, 1);
  font-family: ROKAF Sans;
  font-size: 66.34px;
  font-weight: 700;
  line-height: 89.56px;
  text-align: left;
  margin-left: 11px;
}
.inputBox{
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.inputBox>p{
  font-family: Pretendard;
font-size: 18px;
font-weight: 900;
line-height: 26px;
text-align: left;

}
input{
width: 640px;
height: 56px;
gap: 0px;
border-radius: 12px;
border: none;
background-color:rgba(243, 244, 246, 1);
font-size: 16px;
padding: 0 24px;
}
/* what happened with width... */
button{
width: 690px;
height: Fixed (56px)px;
border-radius: 40px;
color: white;
background-color:rgba(54, 146, 255, 1);
border: none;
font-size: 20px;
padding: 12px 194px;
font-weight: 600;
margin-bottom: 24px;
}
.loginWayBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: Fixed (640px)px;
height: Fixed (74px)px;
padding: 16px 23px 16px 23px;
gap: 10px;
border-radius: 8px;
opacity: 0px;
background: rgba(230, 242, 255, 1);
}
.googleImg{
  width: 22px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
  margin-right: 16px;
}
.kakaoImg{
  width: 26px;
  padding: 10px 8px 8px;
  background-color:rgba(245, 225, 75, 1);
  border-radius: 50px;
}
.ForNew{
  display: flex;
  align-items: center;
  justify-content: center;
}
.signupLink{
color: rgba(54, 146, 255, 1);
margin-left: 5px;
}
input::placeholder{
  color:#9CA3AF ;
}
input:focus{
  box-shadow: 0 0 0 2px #3692FF; /* 테두리처럼 보이게 */
  outline: none;
}
