.text-700-32 {
  font-weight: 700;
  font-size: 32px;
}

.text-600-32 {
  font-weight: 600;
  font-size: 32px;
}

.text-700-24 {
  font-weight: 700;
  font-size: 24px;
}

.text-600-24 {
  font-weight: 600;
  font-size: 24px;
}

.text-500-24 {
  font-weight: 500;
  font-size: 24px;
}

.text-400-24 {
  font-weight: 400;
  font-size: 24px;
}

.text-700-20 {
  font-weight: 700;
  font-size: 20px;
}

.text-600-20 {
  font-weight: 600;
  font-size: 20px;
}

.text-500-20 {
  font-weight: 500;
  font-size: 20px;
}

.text-400-20 {
  font-weight: 400;
  font-size: 20px;
}

.text-700-18 {
  font-weight: 700;
  font-size: 18px;
}

.text-600-18 {
  font-weight: 600;
  font-size: 18px;
}

.text-500-18 {
  font-weight: 500;
  font-size: 18px;
}

.text-400-18 {
  font-weight: 400;
  font-size: 18px;
}

.text-700-14 {
  font-weight: 700;
  font-size: 14px;
}

.text-600-14 {
  font-weight: 600;
  font-size: 14px;
}

.text-500-14 {
  font-weight: 500;
  font-size: 14px;
}

.text-400-14 {
  font-weight: 400;
  font-size: 14px;
}

.text-600-13 {
  font-weight: 600;
  font-size: 13px;
}

.text-500-13 {
  font-weight: 500;
  font-size: 13px;
}

.text-600-12 {
  font-weight: 600;
  font-size: 12px;
}

.text-500-12 {
  font-weight: 500;
  font-size: 12px;
}

.text-400-12 {
  font-weight: 400;
  font-size: 12px;
}
