html {    font-size: 100%; }
body {    font-size: 1rem; }

.layer1{        
    height: 70px;
    width: 100%;    
    border-bottom: 1px;
    background-color: #FFFFFF;
    
    display: flex;
    justify-content:center;
    align-items: center;

    position: sticky;
    top: 0;            
}

.fixed_layer1{     
    height: 51px;
    width: 1120px;
    background-color: #FFFFFF;
   
    margin: 9.5px 400px;    

    display: flex;
    justify-content:space-between;
    align-items: center;
    gap:10px;
}

.layer1_logo{
    
    float:left;        
    
}

.login_button{
    
    padding: 12px 23px 12px 23px;
    gap:10px;
    font-size: 15px;
    width: 128px;
    height: 48px;
    background-color:#3692FF;
    color: white;
    border: none;    
    border-radius: 8px;
    float:right;    
    cursor:pointer;
    
}


.layer2{
    
    height: 540px;
    width: 100%;

    background-color:#CFE5FF;       

    display: flex;
    justify-content: center;
    align-items: center;
}


.fixed_layer2{    
    height: 340px;
    width: 1110px;
    background-color:#CFE5FF;       
   
    margin-left: 405px;
    margin-top: 200px;
     
    display: flex;
    justify-content:center;
    align-items: center;
    gap:7px;
}


.layer2_1{ 
    height: 340px;
    width: 364px;  
    color:#374151;
    font-family: Pretendard;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;


    
}

.layer2_button{
    margin-top: 30px;
    font-size: 15px;
    width: 357px;
    height: 56px;
    background-color: #3692FF;
    color: white;
    border: none;    
    border-radius: 40px;
    cursor:pointer;
}

.layer2_img{
    height: 340px;
    width: 746px;   
}

.layer3{
    padding-bottom: 100px;
    height: 2160px;
    width: 100%;
    
    background-color:#FCFCFC;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.fixed_layer3{    
    height: 444px;
    width: 988px;
    background-color:#FCFCFC;      
   
    display: flex;
    justify-content:center;
    align-items: center;
    gap:64px;    
}


.layer3_1{
    height: 720px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}






.layer3_2{
    height: 720px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;   
    
}




.layer3_3{
    height: 720px;
    width: 100%;     
    
    display: flex;
    justify-content: center;
    align-items: center;       
}

.p1{
    color:#3692FF;
    font-family: Pretendard;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;    
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
 


.p2{
    color:#374151;
    font-family: Pretendard;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.02em;    
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}



.p3{
    color:#374151;

    font-family: Pretendard;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;    
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.layer4{
    height:540px;
    width: 100%;   
    background-color: #CFE5FF;
    display: flex;    
    justify-content:center;
    align-items: center;
}

.fixed_layer4{    
    height: 397px;
    width: 1110px;    
   
    margin-left: 405px;
    margin-top: 143px;
     
    display: flex;
    justify-content:center;
    align-items: center;
    gap:69px;
}

.layer4_1{
    font-family: Pretendard;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 295px;
    
    color: #374151;
}
.layer4_img{
    height: 397px;
    width: 746px;   
}


.layer5{    
    
    height:160px;
    width: 100%;               

    background-color: #111827;
}

.layer5_1{
    height:2rem;;
    width: 100%;  
    background-color: #111827;
    display: flex;
    justify-content: space-between;
}

.layer5_2{    
    margin-left: 200px;
    margin-top: 32px;
    margin-bottom: 108px;    
    
    
    
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.09px;
    text-align: center;    
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #9CA3AF;   
}





.layer5_3{   
    margin-top: 32px;
    margin-bottom: 108px;
    width: 159px;
    font-size: 16px;
    display:flex;
    justify-content: space-around;  
}





.PrivacyPlolicy{
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.09px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration: none;    
    color:#E5E7EB;
}

.FAQ{
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.09px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration:none;    
    color:#E5E7EB;
}

.layer5_4{
    margin-right: 200px;
    margin-top: 32px;
    margin-bottom: 108px;   
    
    width: 116px;
    display:flex;
    justify-content: space-around;    
}



/* 패딩은 박스를 커지게 만든다다 

맨위에 로그인버튼과 판다마켓 로고 400px에서 
작아지면 200px로 가변적용 어떻게...?


맨아래 @codeit - 2024 두줄 표시 113 > 114?

*/