# API for your own backend (e.g., Article, Commment, Product)
NEXT_PUBLIC_API_URL=https://six-sprint-mission-be-16s8.onrender.com

# Auth API provided by Codeit Sprint (JWT login/signup)
NEXT_PUBLIC_AUTH_API_URL=https://panda-market-api.vercel.app
