.pageBtnContainer {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  margin-bottom: 8.75rem;
}

.pageBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.0781rem solid var(--gray-bright2-color-e5e7eb);
  border-radius: 2.5rem;
  background-color: white;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.625rem;
  color: var(--gray-chacole2-color-6b7280);
}

.active {
  border: none;
  background-color: var(--blue2-color-2f80ed);
  color: var(--gray-bright3-color-f9fafb);
}

/* Tablet */
@media (max-width: 1199px) {
  .pageBtnContainer {
    margin-bottom: 10.3125rem;
  }
}

/* Mobile */
@media (max-width: 743px) {
  .pageBtnContainer {
    margin-bottom: 8.4375rem;
  }
}
