.navigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: white;
  width: 100%;
  padding: 15px 0;
  z-index: 1;
  top: 0;
  left: 0;
  margin-bottom: 20px;
}

.goHomeButton {
  display: flex;
  align-items: center;
  width: 15rem;
  height: 5rem;
  color: rgba(54, 146, 255, 1);
  font-size: 30px;
  font-weight: bold;
  gap: 10px;
  cursor: pointer;

  img {
    width: 4rem;
    height: 4rem;
  }
}

.leftNav {
  display: flex;
}

.subNav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.freeBoard,
.fleaMarket {
  font-size: 20px;
  color: #4b5563;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}

.loginButton {
  width: 10rem;
  height: 4rem;
  background-color: rgba(54, 146, 255, 1);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.miandiv {
  width: 100%;
  height: 120px;
}

@media (max-width: 1199px) {
  .navigationBar {
    padding: 10px 0;
  }

  .goHomeButton {
    width: 12rem;
    height: 4rem;
    font-size: 26px;

    img {
      width: 3.5rem;
      height: 3.5rem;
    }
  }

  .loginButton {
    width: 9rem;
    height: 4rem;
    font-size: 18px;
  }
}

@media (max-width: 743px) {
  .navigationBar {
    padding: 5px 0;
  }

  .goHomeButton {
    width: 10rem;
    height: 3.5rem;
    font-size: 22px;

    img {
      width: 3rem;
      height: 3rem;
    }
  }

  .loginButton {
    width: 8rem;
    height: 3.5rem;
    font-size: 16px;
  }
}
