@import "/reset.css";
@font-face {
  font-family: "ROKAFSans";
  src: url("/font/ROKAF_Sans_Bold.ttf") format("Woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --href-txt-focus-input-color: #3692FF;
  --basic-txt-color: #1F2937;
  --login-txt-input-box-bg-color: #F3F4F6;
  --placeholder-btn-bg-color: #9CA3AF;
  --bottom-box-bg-color: #E6F2FF;
  --error-color: #F74747;
}

* {
  box-sizing: border-box;
}

.index {
  color: var(--basic-txt-color);
  font-family: Pretendard;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3425rem;
}

form div {
  position: relative;
}

.input-box {
  background-color: var(--login-txt-input-box-bg-color);
  width: 40rem;
  height: 3.5rem;
  border: 0.0938rem solid transparent;
  border-radius: 0.75rem;
  padding: 1rem 1.5rem;
  margin: 1rem auto 0;
  outline: none;
}

.input-box.focus-in {
  border-color: var(--href-txt-focus-input-color);
}

.input-box.focus-out {
  border-color : var(--error-color);
}

.error-msg {
  color: var(--error-color);
  font-family: Pretendard;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.1187rem;
  letter-spacing: 0;
  margin: 0.5rem auto 1.5rem 1rem;
}

.eye-icon {
  position: absolute;
  width: 1.2794rem;
  height: 1.1294rem;
  top: 2.2181rem;
  bottom: 2.6525rem;
  right: 1.6087rem;
}

.eye-icon.off {
  visibility: hidden;
}

::placeholder {
  color: var(--placeholder-btn-bg-color);
}

.btn {
  background-color: var(--placeholder-btn-bg-color);
  color: var(--login-txt-input-box-bg-color);
  width: 40rem;
  height: 3.5rem;
  border-radius: 2.5rem;
  border: none;
  padding: 1rem 7.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  margin: auto;
}

.btnAble {
  background-color: var(--href-txt-focus-input-color);
  cursor: pointer;
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7)
}

.modal-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 33.75rem;
  height: 15.625rem;
  background-color: white;
  border-radius: 0.5rem;
  font-family: Pretendard;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1931rem;
  text-align: center;
  padding: 6.75rem 0 7.6875rem;
}

.modal-popup button {
  width: 7.5rem;
  height: 3rem;
  margin: 2.9375rem 1.75rem 1.75rem 24.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--href-txt-focus-input-color);
  color: var(--login-txt-input-box-bg-color);
  padding: 0.75rem 1.4375rem;
  font-family: Pretendard;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1931rem;
  cursor: pointer;
}

.bottom-box {
  background-color: var(--bottom-box-bg-color);
  width: 40rem;
  height: 4.625rem;
  border-radius: 0.5rem;
  padding: 1rem 1.4375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
  margin: 1.5rem auto;
}

.logo {
  display: flex;
  gap: 1rem;
}

.google-btn {
  background-color: white;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 100%;
  padding: 0.625rem;
}

.kakao-btn {
  background-color: #F5E14B;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 100%;
  padding: 0.625rem 0.5rem 0.5rem 0.5rem;
}

.text {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: 9.875rem;
  height: 1.125rem;
  margin: auto auto 14.625rem;
}