

* {
    font-family: Pretendard;
}

a {
    text-decoration: none;
}

body {
    margin: 0px;
}
.image {
    display: flex;
    align-items: center;
    cursor: pointer;
} 

.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    position: center;
    
}

.header-container {
    height: 51px;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 9.5px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.header-text {
    color: #3692FF;
    justify-content: space-between;
    cursor: pointer;
    margin-left: 8.9px;
    font-size: 1.6em;
}

.header-login {
    background-color: #3692FF;
    width: 128px;
    height:48px;
    top: 12px;
    border-radius: 10px;
    border-width: 0;
    cursor: pointer;
}






.main {
    background-color:#CFE5FF;
    width: 100%;
    height: 540px;
    margin-top: 70px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-size: 40px;
} 

.title {
    width: 1110px;
    height: 340px;
    padding-left: 405px;
    padding-top: 200px;
    background-image: url("Img_home_top.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.title-text {
    text-align: left;
    width: 700px;
    height: 112px;
    font-weight: 700;
    font-size: 1em;
    line-height: 56px;
}

.title-button {
    font-weight: 600px;
    font-size: 0.5em;
    line-height: 32px;
    width: 357px;
    height: 56px;
    background-color: #3692FF;
    border-radius: 40px;
    border-width: 0;
    margin-top: 32px;
    cursor: pointer;
}
    
.article-main {
    display: flex;
    position: center;
    flex-direction: column;
    justify-content: center;
}

.main-content1, .main-content3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 466px;
    padding-right: 466px;
    padding-top: 138px;
    padding-bottom: 138px;
    background-color: #FCFCFC;
}

.main-content2 {
    display: flex;
    align-items: center;
    padding-left: 466px;
    padding-right: 466px;
    padding-top: 138px;
    padding-bottom: 138px;
    background-color: #FCFCFC;
}

.image-container1, .image-container2, .image-container3 {
    width: 588px;
    height: 444px;
}

.text-container1, .text-container3 {
    width: 274px;
    height: 238px;
    flex-grow: 1;
    padding-left: 64px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.text-container2 {
    width: 274px;
    height: 238px;
    display: flex;
    flex-direction: column;
    padding-left: 9.5px;
    padding-right: 64px;
    flex-grow: 0;
    font-size: 18px;
}


.subtitle1, .subtitle2, .subtitle3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color:#3692FF;
    margin: 0px;
    margin-bottom: 12px;
    font-size: 1em;
}

.main-text1, .main-text2, .main-text3{
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    margin-top: 0;
    margin-bottom: 24px;
    width: 317px;
    height: 112px;
    font-size: 2.2em;
}

.description1, .description3{
    font-weight: 500px;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    width: 288px;
    height: 64px;
    font-size: 1.3em;
}

.description2 {
    font-weight: 500px;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    text-align: right;
    width: 288px;
    height: 64px;
}

.end-title {
    width: 1110px;
    height: 340px;
    padding-left: 405px;
    padding-top: 200px;
    background-image: url(Img_home_bottom.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    font-size: 1em;
}

a {
    color: #9CA3AF;
    ;
}

.footer {
    background-color: #111827;
    width: 100%;
    height: 160px;
    font-size: 16px;
    
}

.codeit {
    padding-left: 200px;
    font-size: 1em;
}

.icon {
    padding-right: 200px;
}


.foot {
    width: 100%;
    height: 20px;
    align-items: center;
    justify-content: space-between;
    display: flex;;
    padding-top: 32px;
    

}

.footer-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 159px;
    height: 19px;
    cursor: pointer;
    font-size: 1em;
}

.icon {
    cursor: pointer;
}
