.title {
  font-size: 20px;
  font-weight: 700;
  margin: 24px 120px;
}

.list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.img {
  max-width: 282px;
  min-width: 282px;
  aspect-ratio: 1 / 1;
  margin-bottom: 16px;
  border-radius: 16px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.name {
  font-size: 14px;
  font-weight: 500;
}

.price {
  font-weight: 700;
}

.favoriteCount {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #4b5563;
  gap: 4px;
}

@media (max-width: 1199px) {
  .title {
    margin: 24px 24px;
  }

  .list {
    margin: 0 24px;
    gap: 10px;
  }

  .img {
    max-width: 343px;
    flex: 0 0 50%;
  }
}

@media (max-width: 743px) {
  .title {
    margin: 16px 16px;
  }

  .list {
    margin: 0 16px;
  }

  .img {
    max-width: 100%;
  }
}
