.bestProductCard {
  width: 300px;
  height: 500px;
}
.bestProductDescription {
  font-size: 15px;
}

.bestProductPrice {
  font-size: 20px;
  font-weight: bold;
}

.bestProductFavoriteCount {
  font-size: 15px;
  color: #4b5563;
}

.bestProductImageWrapper {
  width: 300px;
  height: 300px;
}

.bestProductImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
