* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  word-break: keep-all;
  font-family: "Pretendard", sans-serif;
}

input,
textarea {
  border: none;
  outline: none;
  background: none;
}

select {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  appearance: none;
}

button {
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  cursor: pointer;
}

.button {
  padding: 12px 23px;
  border-radius: 8px;
  background-color: #3692ff;
  color: #fff;
}

.button:hover {
  background-color: #1967d6;
}
