@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "./reset.css";

:root {
  --mainBlue: rgba(54, 146, 255, 1);
  --inputGray: rgba(243, 244, 246, 1);
  --submitGray: rgba(156, 163, 175, 1);
  --snsBGskyBlue: rgba(230, 242, 255, 1);
  --outlineBlue: #3692ff;
}

body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
  justify-self: center;
  width: 40%;
  padding: 10% 0;
}

.loginSignupTop {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 60px;
  font-weight: bold;
  color: var(--mainBlue);
  cursor: pointer;

  img {
    width: 80px;
    margin: 10px;
  }
}

.inputBoxForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: between;
}

.nicknameBox,
.emailBox,
.passwordBox {
  margin: 10px 0;
  background-color: white;
  position: relative;

  label {
    display: block;
    padding: 10px 0;
    font-weight: bold;
  }

  input {
    width: 100%;
    height: 56px;
    background-color: var(--inputGray);
    border: 0;
    border-radius: 15px;
    padding: 0 20px;
  }
  input:focus {
    outline: 2px solid var(--outlineBlue);
  }
  .togglePassword {
    position: absolute;
    right: 15px;
    top: 60px;
    cursor: pointer;
  }
}

.activateloginSignupButton {
  height: 56px;
  background-color: var(--mainBlue);
  color: white;
  font-size: 20px;
  border-radius: 30px;
  margin: 10px 0;
  cursor: pointer;
}

.deactivateloginSignupButton {
  height: 56px;
  background-color: var(--submitGray);
  color: white;
  font-size: 20px;
  border-radius: 30px;
  margin: 10px 0;
}

.snsLoginBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: var(--snsBGskyBlue);
}

.snsLogin {
  display: flex;
  width: 100px;
  justify-content: space-between;

  img {
    cursor: pointer;
  }
}

.loginSignupBottomBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 100%;

  a {
    color: var(--mainBlue);
    padding: 5px;
    text-decoration: underline;
  }
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;

  button {
    margin-top: 10px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 120px;
    height: 50px;
    background-color: var(--mainBlue);
    color: white;
    font-size: 15px;
    border-radius: 10px;
  }
}
.modalContent {
  position: relative;
  display: flex;
  background: white;
  width: 35%;
  height: 30%;
  padding: 20px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}

// PC: 1200px 이상
// Tablet: 744px 이상 ~ 1199px 이하
// Mobile: 375px 이상 ~ 743px 이하
// 375px 미만 사이즈의 디자인은 고려하지 않습니다
