.header {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0;
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 0.0781rem solid var(--gray-bright4-color-dfdfdf);
}

.headerBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12.5rem;
  height: 4.375rem;
  width: 100%;
  max-width: 120rem;
}

.headerLeft {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoBtn {
  color: var(--blue-color-3692ff);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.5625rem;
  height: 3.1875rem;
  font-family: Pretendard;
  font-weight: 700;
  font-size: 1.7188rem;
  margin: 0.5313rem 1.5rem 0.5313rem 0rem;
}

.logoBtn h1 {
  margin: 0.61rem 0.0881rem 0.39rem 0.5369rem;
  width: 6.4375rem;
  font-family: ROKAFSans;
  font-weight: 700;
  font-size: 1.6019rem;
  line-height: 2.1625rem;
}

.headerTxt {
  display: flex;
  padding: 1.3125rem 0.9375rem;
  text-decoration: none;
  color: var(--gray-chacole-color-4b5563);
  font-family: Pretendard;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.625rem;
}

.headerTxt:hover {
  color: var(--blue-color-3692ff);
}

.loginBtn {
  background-color: var(--blue-color-3692ff);
  color: var(--gray-bright-color-f3f4f6);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.5rem;
  height: 2.625rem;
  padding: 0.75rem 1.4375rem;
  border-radius: 0.5rem;
  text-align: center;
  font-family: Pretendard;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.4375rem;
}

/* Tablet */
@media (max-width: 1199px) {
  .headerBar {
    padding: 0 1.5rem;
  }
}

/* Mobile */
@media (max-width: 743px) {
  .headerBar {
    padding: 0 1rem;
  }

  .headerLeft {
    gap: 0.5rem;
  }

  .logoBtn {
    width: auto;
    margin: 0;
  }

  .logoBtn img {
    display: none;
  }

  .logoBtn h1 {
    margin: 0;
    font-size: 1.2625rem;
    line-height: 1.7044rem;
    width: 5.0625rem;
  }

  .headerTxt {
    padding: 0;
    font-size: 1rem;
    text-align: center;
  }
}
