@font-face {
  font-family: 'ROKAF Sans';
  src: url('../fonts/ROKAF Sans Medium.ttf') format('truetype');
}

html {
  font-size: 62.5%;
}

:root {
  --font-primary: 'Pretendard', sans-serif;
  --font-header: 'ROKAF Sans', sans-serif;
  --primary-100: #3692FF;
  --primary-200: #1967D6;
  --primary-300: #1251AA;
  --main-bg-color: #CFE5FF;
  --gray-900: #111827;
  --gray-800: #1F2937;
  --gray-700: #374151;
  --gray-600: #4B5563;
  --gray-500: #6B7280;
  --gray-400: #9CA3AF;
  --gray-200: #E5E7EB;
  --gray-100: #F3F4F6;
  --gray-50: #F9FAFB;
  --white: #ffffff;
  --red: #F74747;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  color: var(--grey-700);
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: var(--font-primary);
  color: var(--gray-700);
  word-break: keep-all;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  letter-spacing: 0.02em;
}

h2 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.2rem;
}
