/* login */
.login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login_wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 620px;
  width: 40%;
  min-width: 450px;
  max-width: 700px;
  padding-top: 50px;
}

.login_wrap.signup {
  height: 847px;
  padding: 20px 0;
}

.logo {
  margin: 0 auto;
}

.logo a {
  font-size: 66px !important;
  font-weight: 700 !important;
  gap: 20px;
  color: var(--primary-color);
}

.login_wrap .stress {
  display: flex;
  width: 100%;
  font-size: 18px !important;
  font-weight: 700 !important;
}

.login_wrap input {
  width: 100%;
  height: 56px;
  outline: none;
  background-color: #f3f4f6;
  border: 2px solid #f3f4f6;
  padding: 0 20px;
  border-radius: 8px;
  box-sizing: border-box; /* ✅ 패딩을 포함한 전체 너비 계산 */
}

.error_message {
  color: red;
  text-align: start;
  width: 100%;
  margin-top: -20px;
}

/* 패스워드 입력 필드 스타일 */
.password_container {
  position: relative;
  width: 100%;
}

.password_container input {
  width: 100%;
  padding-right: 40px; /* 아이콘 공간 확보 */
}

/* 눈 모양 아이콘 스타일 */
.toggle_password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px; /* 아이콘 크기 */
  color: #666; /* 기본 색상 */
}

.toggle_password:hover {
  color: #333; /* 마우스 올릴 때 색 변경 */
}

.login_wrap button {
  width: 100%;
  height: 56px;
  border-radius: 40px;
  border: none;
  background-color: #9ca3af;
  font-size: 20px;
  font-weight: 600;
  color: white;
  cursor: not-allowed;
}

.login_wrap button.active {
  background-color: var(--primary-color);
  cursor: pointer;
}

.emailLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 74px;
  background-color: #e6f2ff;
  border-radius: 8px;
  box-sizing: border-box;
}

.emailLogin img {
  width: 42px;
  height: 42px;
  padding-left: 20px;
}

.emailLogin_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 594px;
  padding: 20px;
}

.crossLink a {
  text-decoration: underline;
  color: var(--primary-color);
}
