@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: var(--color-gray-800);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 375px;
  --breakpoint-md: 744px;
  --breakpoint-lg: 1200px;

  /* Primary */
  --color-primary-300: #1251aa;
  --color-primary-200: #1967d6;
  --color-primary-100: #3692ff;

  /* Error */
  --color-error-red: #f74747;

  /* Secondary / Gray Scale */
  --color-gray-900: #111827;
  --color-gray-800: #1f2937;
  --color-gray-700: #374151;
  --color-gray-600: #4b5563;
  --color-gray-500: #6b7280;
  --color-gray-400: #9ca3af;
  --color-gray-200: #e5e7eb;
  --color-gray-100: #f3f4f6;
  --color-gray-50: #f9fafb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  /* 버튼 컴포넌트 */
  .btn-base {
    @apply flex justify-center items-center h-[42px] px-[23px] py-3 rounded-lg bg-primary-100 text-white font-semibold cursor-pointer hover:bg-primary-200 disabled:bg-gray-400 disabled:cursor-not-allowed;
  }

  /* line-height 설정 */
  .text-lg {
    --tw-leading: 26px;
  }

  .text-xl {
    --tw-leading: 32px;
  }
}

/* 일반 HTML 태그에 대한 기본 스타일 */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pretendard";
}

input:focus,
textarea:focus {
  outline: 1px solid #1f2937;
}

button {
  cursor: pointer;
}
