@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@font-face {
    font-family: "ROKAF";
    src: url("/ROKAF") format("Woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

form {
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 24px;
}

.로그인box1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 640px;
    height: 842px;
    top: 60px;
    left: 640px;
    right: 640px;
}

#판다마켓로고 {
    width: 396px;
    height: 132px;
}

.로그인box2 {
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    width: 640px;
    height: 542px;
}

.로그인box3 {
    display: flex;
    width: 640px;
    height: 670px;
    gap: 24px;
    flex-direction: column;
}

.이메일box, .닉네임box, .비밀번호box, .비밀번호확인box {
    display: flex;
    width: 640px;
    height: 98px;
    gap: 16px;
    flex-direction: column;
    text-align: left;
    align-items: left;
}

#이메일글자, #닉네임글자, #비밀번호글자, #비밀번호확인글자 {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}

.email글자박스, .nickname글자박스, .password글자박스, .passwordConfirm글자박스 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 640px;
    height: 56px;
    border-radius: 12px;
    background-color: #F3F4F6;
    border: none;
}

.email글자박스:hover, .nickname글자박스:hover, .password글자박스:hover, .passwordConfirm글자박스:hover {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 640px;
    height: 56px;
    border-radius: 12px;
    background-color: #F3F4F6;
    border: none;
    border: 2px solid #3692FF
}

#email, #nickname, #password, #passwordConfirm {
    width: 592px;
    height: 26px;
    color: #9CA3AF;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    border: none;
    background-color: #F3F4F6;
    outline: none;
}



#회원가입 {
    width: 640px;
    height: 56px;
    border-radius: 40px;
    border: none;
    background-color: #9CA3AF;
    color: #F3F4F6;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
}

#회원가입:hover {
    
    background-color: #3692FF;

}

.간편로그인box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 640px;
    height: 74px;
    border-radius: 8px;
    background-color: #E6F2FF;
}

.간편로그인글자box {
    display: flex;
    width: 594px;
    height: 42px;
    justify-content: space-between;
    align-items: center;
}

.간편로그인이미지box {
    width: 100px;
    height: 42px;
    display: flex;
    
    gap: 16px;
}

#간편로그인글자 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #1F2937;
}

.회원가입box {
    
    align-items: center;
    justify-content: center;
    color: #1F2937;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    width: 151px;
    height: 24px;
    gap: 4px;
}

#로그인연결 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.71px;
    text-decoration: underline;
    color: #3692FF;
}
