@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@font-face {
    font-family: "ROKAF";
    src: url("/ROKAF") format("Woff");
    font-weight: normal;
    font-style: normal;
  }

  :root {
    
    --background-color: #F3F4F6;
    --color: #9CA3AF;
    
}
  
  body{
    
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  }

  form{

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 24px;
    


  }


  .로그인box1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 640px;
    height: 618px;
    top: 60px;
    left: 640px;
    right: 640px;
    
    
    
  }

  #판다마켓로고 {

    
    width: 396px;
    height: 132px;

}

.로그인box2 {
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    width: 640px;
    height: 446px;
    
    
  }

  .로그인box3 {
    
    display: flex;
    width: 640px;
    height: 446px;
    gap: 24px;
    flex-direction: column;
    
    
  }


.이메일box {

    display: flex;
    width: 640px;
    height: 98px;
    gap: 16px;
    flex-direction: column;
    text-align: left;
    align-items: left;
    


}

#이메일글자{

    width: 47px;
    height: 26px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    
    



}


.비밀번호box{

    display: flex;
    width: 640px;
    height: 98px;
    gap: 16px;
    flex-direction: column;
    text-align: left;
    align-items: left;

}





#비밀번호글자{

    width: 63px;
    height: 26px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    

}



.email글자박스{

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 640px;
    height: 56px;
    border-radius: 12px;
    background-color: var(--background-color); 
    border: none;
    

}

.email글자박스:focus-within{

    border: 2px solid #3692FF

}

#email {
   
    
    width: 592px;
    height: 26px;
    color: var(--color);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    border: none;
    background-color: var(--background-color);
    outline: none;
    
}


.password글자박스{

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 640px;
    height: 56px;
    border-radius: 12px;
    color: var(--color);
    background-color: var(--background-color);
    border: none;
    
}

.password글자박스:focus-within{

    border: 2px solid #3692FF;
    

}

.password글자박스2{

    display: flex;
    width: 592px;
    height: 26px;
    
    
}


#password {


    width: 565px;
    height: 26px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    border: none;
    background-color: var(--background-color);
    color: var(--color);
    outline: none;

}

#가려진눈{

    width: 24px;
    height: 24px;


}

#로그인{

    width: 640px;
    height: 56px;
    border-radius: 40px;
    border: none;
    color: rgb(243, 244, 246);
    background-color: rgb(156, 163, 175);
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;


}

#로그인:hover{

    background-color: #3692FF;
    

}

.간편로그인box{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 640px;
    height: 74px;
    border-radius: 8px;
    background-color: #E6F2FF;
    



}

.간편로그인글자box{

    display: flex;
    width: 594px;
    height: 42px;
    justify-content: space-between;
    align-items: center;



}

.간편로그인이미지box{

    width: 100px;
    height: 42px;
    display: flex;
    gap: 16px;



}

#간편로그인글자{


    width: 101px;
    height: 26px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #1F2937;

}

.회원가입box{


    align-items: center;
    color: #1F2937;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    width: 197px;
    height: 24px;
    gap: 4px;

    
}




#회원가입{

    width: 49px;
    height: 17px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.71px;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    color: #3692FF;


}