@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@font-face {
    font-family:'ROKAF Sans';
    src:url('font/ROKAF Slab Serif Bold.ttf') format('truetype');
}
:root {
    --primary-color: #3692FF;
    --secondary-color: #9CA3AF;
    --background-color: #374151;
    --sub-background-color: #FCFCFC;
    --primary-text-color: #F3F4F6;
    --footer-color: #141826;
    --error-color: #F74747;
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1rem;
    
}

.header {
    position: fixed;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: white; 
    width: 100%; 
    height: 4.5rem; 
    top: 0; 
    left: 0; 
    z-index: 10; 
}

.header-img {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    max-width: 120rem; 
}

.logo-img{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 10rem;
    height: 2.5rem;
    margin-left: 1.5rem;
    text-decoration: none;
    
}
#logo{
    height: 2.5rem;
    width: 2.5rem; 
    cursor: pointer; 
    margin-left: 0;
}

.title{
    font-family: 'ROKAF Sans';
    font-size:1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color:var(--primary-color);
    display: flex;
    margin-left:0.5rem;

}


#login {
    display: inline-block;
    height: 3rem;
    width: 8rem; 
    cursor: pointer; 
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    line-height: 3rem;
    border: none;
    margin-right:1.5rem;
}




.main{
    display: flex;
    position: relative;
    justify-content: center;
    width:100%;
    height:34rem;
    background-color: #CFE5FF;
}
.main-image {
    display: flex;
    flex-direction: row;
    /* margin-top: 0px; */
    background-color: #CFE5FF; 
    max-width: 70rem;
    width: 100%;
    height: auto;
    /* margin-top:200px; */
    margin:auto auto 0px auto;
    
}

.text-button {
    display: flex;
    flex-direction: column;
    position: relative; 
    justify-content: flex-start;
    align-items: flex-start; 
    width: 22.5rem;
    height: 16.5rem;
    margin-bottom:0;
    margin-top:40px;
}

#main-text {
    color: var(--background-color);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.5rem;
    width: 300px;
}

.button {

    display: inline-block;
    margin-top: 2rem;
    margin-bottom:4rem;
    width: 22.5rem;
    height: 3.5rem;
    border-radius: 2.5rem;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    line-height: 3.5rem;
    border: none;
    z-index: 1;
}


.main-image img {
    margin: auto 0 0 auto; 
    max-width: 47.5rem; 
    width: 100%;
    height: auto; 
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

#bottom-text{
    color: var(--background-color);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.5rem;
    width: 300px;
    margin-top: 100px;
}

.sub{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 62rem;
    width: 100%;
    
    background-color: var(--sub-background-color);
    margin: 8.5rem 1.5rem;
}

.sub img {

    width: auto;
    height: auto;
    margin-left:0;
    
}
.sub-text{
    margin:8rem 2.5rem 2rem 2.5rem;
    z-index:1;
    height: auto;
    min-width: 19rem;
}
#sub-title{
    color:var(--primary-color);
    font-size:1rem;
    font-weight: bold;
    /* margin-top:6rem; */
}

#sub-txt{
    margin:0.75rem 0;
    color:black;
    font-weight: bold;
    font-size: 2.5rem;
}
#sub-ex{
    margin:1.5rem 0;
    font-size:1.25rem;
    font-weight: 500;

}


.footer{
    display: flex;
    justify-content: center;
    background-color: var(--footer-color);
    width: 100%;
    height: 10rem;
}

.footer-img{
    display:flex;
    justify-content: space-between;
    width: 100%;
    max-width: 120rem;
    padding: 2rem                   ; 
}

#icon{
    display: flex;
    gap: 1rem;
    margin-right:1.5rem;
}

#icon img {
    cursor: pointer;
    width: 20px;
}

.link {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    height: 20px;
}

.link:visited {
    text-decoration: none; 
    color: white; 
}

#info {
    color: var(--secondary-color);
    margin-left:2rem;
}

.text-link{
    display: flex;
    gap: 2rem;
    margin: 0 2rem;
}









/* login, signin */



.display-login{
    width:100%;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    


}

.main-login{
    width:40rem;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.login-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    text-decoration-color: white;
    margin-bottom:2.5rem;
    
}
#login-logo{
    width:6.5rem;
    height: auto;

}
#login-title{
    text-decoration-color: white;
    font-weight: 700;
    color:var(--primary-color);
    display: flex;
    font-size: 3.75rem;
    margin-left: 0.5rem;
    font-family: 'ROKAF Sans';

}
.login-logo:visited{
    text-decoration-color: white;
}



#login-button {
    display: inline-block;
    width: 100%;
    height: 3.5rem;
    border-radius: 2.5rem;
    /* background-color: var(--primary-color); */
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    line-height: 3.5rem;
    border: none;
    cursor: pointer;
    margin: 0 0 1.5rem 0;
}

#login-button.active{
    background-color: var(--primary-color);
    
}


label{
    text-align: left;
    width: 100%;
    font-weight: 700;
    font-size: 1rem;
}


.input-container{
    position: relative;
    width: 100%;
}

input{
    background-color: var(--primary-text-color);
    color: var(--secondary-color);
    border: none;
    width: 100%;
    height: 3.5rem;
    border-radius: 0.75rem;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0 1.5rem;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1rem;
    
}

input:focus {
    outline:1px solid var(--primary-color);  
}

.toggle-password {
    position: absolute;
    right: 1rem; /* 오른쪽 0.5rem 간격 */
    margin-top:1.5rem;

    cursor: pointer;
    color: gray; /* 아이콘 색을 좀 더 눈에 띄게 변경 */
    z-index: 500; /* 입력 필드 위에 아이콘이 오도록 설정 */
    font-size: 1.5rem;
    
}


.simple-login{
    background-color: #eaf2fe;
    width: 100%;
    height: 4.5rem;
    border-radius:0.5rem;
    padding: 0 1.5rem;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
}

.simple-login-img{
    margin: 0.5rem 0 0.5rem auto;
    width: 6.5rem;
    height: 3rem;
    padding: 0;
}

#kakao {
    width: 40px;
    height: auto;
    margin-left:0.5rem;
    z-index: 20;    
}

#google {
    width: 40px;
    height: auto;
    margin-left:0.5rem;
    z-index: 20;    
}





#signin-link{
    color:var(--primary-color);
    text-decoration: underline;
}

.error-message{
    color: var(--error-color);
    font-size: 1rem;
    justify-content: left;
    font-weight: 600;
    margin:0 0 1.5rem 1rem;

}

input.error-line {
    outline: 1px solid var(--error-color);
}







.custom-alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 540px;
    height: 250px;
    background: white;
    border-radius: 0.5rem;
    text-align: center;
    z-index: 1000;
}
.custom-alert p {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: 500;
    
}
.custom-alert button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    height: 3rem;
    width: 7.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 1rem;
    margin: 174px 28px 28px 392px;
    font-weight: 600;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}


@media (max-width: 1200px) {
    .main {
        height: auto;
    }
    #main-text {
        margin-top:0px;
        width: auto;
        text-align: center;
    }
    #bottom-text{
        margin-top:0px;
        width: auto;
        text-align: center;
    }
    .main-image{
        flex-direction: column;
        height:auto;
        justify-content: center; /* 가로 가운데 정렬 */
        align-items: center; /* 가로 가운데 정렬 */
        margin-top:150px;
        margin-bottom:0px;
        gap: 20px; /* 요소 사이 여백 */

    }
    .main-image img{
        width:100%;
        margin: 200px auto 0 auto;
        
    }
    .text-button{
        margin-top:0px;
        margin-bottom: 30px;
        width:auto;
        align-items: center;
        height: 136px;
    }
    .button{
        margin:1.5rem auto auto auto;
    }
    
    
    .sub{
        flex-direction: column;
        padding: 26px 3rem;
        background-color: white;
        margin: 0px;
    }
    .sub img{
        width: 100%;
    }
    #middle{
        flex-direction:column-reverse;
        
    }
    #middle-text{
        margin: 1rem 0 0 auto;
    }
    .sub-text{
        margin: 1rem auto 0 0;
    }
    
}



@media (max-width:744px) {
    
    .main-image img{
        margin: 130px auto auto auto;
    }

    #main-text {
        font-size: 2rem;
    }
    #bottom-text {
        width: 240px;
        font-size: 2rem;
    }
    
    .text-button{
        width: 240px;
        height:156px;
    }
    .button {
        width: 240px;
    }

    .sub-text{
        margin:2rem 2.5rem;
        min-width: 19rem;
    }
    #sub-title{
        font-size:1rem;
    }
    
    #sub-txt{
        margin:0.75rem 0;
        font-size: 1.5rem;
    }
    #sub-ex{
        margin:1.5rem 0;
        font-size:1rem;
    
    }

    .sub{
        padding: 20px 3rem;
    }

    .sub-text{
        margin: 1rem auto 0 0;
    }



    .main-login{
        width: 100%;
        height: 100%;
        padding: 0 1rem;
        max-width: 400px;
    }
    #login-logo{
        width: 3rem;
    }
    #login-title{
        font-size: 2rem;
    }

}

