@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@font-face {
    font-family: "ROKAF";
    src: url("/ROKAF") format("Woff");
    font-weight: normal;
    font-style: normal;
  }

body{
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    display: flex;
    flex-direction: column;  
    align-items: center;     
}

header{
    position: fixed;
    display: flex;
    gap: 10px;
    width: 1920px;
    height: 70px;
    border-bottom: 1px solid #DFDFDF;
    padding: 9.5px 400px;
    z-index: 3;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    height: 51px;
    width: 1120px; 
    max-width: 1920px;
}

.logo {
    width: 153px;
    height: 51px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: margin 0.5s ease-in-out;
}

.logo img {

    display: flex;
    width: 40px; 
    height: 40.14px;
    top:5.02px; 
    cursor: pointer;
     
}

.판다마켓{
    
    display: flex;
    width: 103px;
    height: 35px;
    top: 9.76px;
    left: 48.59px;
    font-family: ROKAF;
    font-size: 25.63px;
    line-height: 34.6px;
    font-weight: 700;
    color: #3692ff;
    text-align: center;
    gap: 10px;
   
}

.login {
    align-items: flex-end;
    display: flex;
    width: 128px;
    height: 48px;
    padding: 12px 23px 12px 23px;
    gap: 10px;
    background-color: #3692ff;
    border-radius: 8px;
    font: Pretendard;
    font-size: 16px;
    font-weight: 600;
    color: #F3F4F6;
    line-height: 26px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    transition: margin 0.5s ease-in-out;
    
}

.일상{

    position: relative;
    width: 100%;
    height: 540px;
    top: 70px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    background-color: #CFE5FF;
    

}

.일상box{
    display: flex;
    position:absolute;
    width: 1110px; 
    height: 340px;
    top: 200px;
    left: 405px;
    right: 405px;
    gap: 7px;
    background-image: url(서있는판다.png);
    background-repeat: no-repeat; 
    background-position: right center; 
}

.일상box글자모음{

    position:absolute;
    display: flex;
    width: 357px;
    height: 260px;
    padding-bottom: 60px;
    gap: 32px;
    top: 40px;
    bottom: 40px;
    right: 753px;
    flex-direction: column;
    align-items: center;
    
}

.일상box글자1{

        display:flex;
        font: pretendard;
        font-weight: 700;
        font-size: 40px;
        line-height: 56px;
   
}

.일상box글자2 a{

        width: 357px;
        height: 56px;
        display:flex;
        background-color: #3692ff;
        border-radius: 40px;
        padding: 16px 124px 16px 124px;
        gap: 10px;
        font: pretendatd;
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        color: #F9FAFB;
        text-decoration: none;

}


.상품{
    
    position: relative;
    width: 1920px;
    height: 720px;
    padding: 138px 344px 138px 344px;
    gap: 10px;
   
}


.상품box{

    position: absolute;
    top: 138px;
    left: 466px;
    width: 988px;
    height: 444px;
    gap: 64px;
    background-image: url(Img_home_01.png);
    background-size: 588px 444px;
    background-repeat: no-repeat; 
    background-position: left center; 
    background-color: #fcfcfc;

}

.상품글자모음{

    position: absolute;
    justify-content: center;
    align-items: left;
    display: flex;
    width: 274px;
    height: 238px;
    gap: 10px;
    flex-direction: column;
    top: 103px;
    right: 31px; 

}

.상품글자1{
    
    font: pretendard;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color:#3692ff;

}

.상품글자2{

    font: pretendard;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color:#374151;
    letter-spacing: 0.8px;
    
}

.상품글자3{

    font: pretendard;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color:#374151;
    

}

.구매{
    
    position: relative;
    width: 1920px;
    height: 720px;
    padding: 138px 342px 138px 342px;
    gap: 10px;
}


.구매box{

    position: absolute;
    top: 138px;
    right: 466px;
    width: 988px;
    height: 444px;
    gap: 64px;
    background-image: url(Img_home_02.png);
    background-size: 588px 444px;
    background-repeat: no-repeat; 
    background-position: right center; 
    background-color: #fcfcfc;

}

.구매글자모음{

    position: absolute;
    justify-content: center;
    display: flex;
    width: 317px;
    height: 238px;
    gap: 12px;
    flex-direction: column;
    top: 103px;
    left: 9.5px; 
}

.구매글자1{
    
    font: pretendard;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color:#3692ff;
    text-align: right;

}



.구매글자2{

    font: pretendard;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color:#374151;
    letter-spacing: 0.8px;
    text-align: right;
    
}

.구매글자3{


    font: pretendard;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color:#374151;
    text-align: right;
    
}

.판매{
    
    position: relative;
    width: 1920px;
    height: 720px;
    padding: 138px 342px 138px 342px;
    gap: 10px;

}

.판매box{

    position: absolute;
    top: 138px;
    right: 466px;
    width: 988px;
    height: 444px;
    gap: 64px;
    background-image: url(Img_home_03.png);
    background-size: 588px 444px;
    background-repeat: no-repeat; 
    background-position: left center; 
    background-color: #fcfcfc;

}

.판매글자모음{

    position: absolute;
    justify-content: center;
    align-items: left;
    display: flex;
    width: 335px;
    height: 238px;
    gap: 12px;
    flex-direction: column;
    top: 103px;
    right: 0.5px; 
   
}

.판매글자1{
    
    font: pretendard;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color:#3692ff;
    

}

.판매글자2{

    font: pretendard;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color:#374151;
    letter-spacing: 0.8px;
    
}

.판매글자3{

    font: pretendard;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color:#374151;
    
}

.믿음{

    position: relative;
    width: 100%;
    height: 540px;
    background-color: #CFE5FF;
    

}

.믿음box{

    width: 1110px;
    height: 397px;
    position: absolute;
    top: 143px;
    right: 405px;
    background-image: url(Img_home_bottom.png);
    background-size: 746px 397px;
    background-repeat: no-repeat; 
    background-position: right center;

}

.믿음글자{

    position: absolute;
    display: flex;
    right: 815px;
    top: 112.5px;
    width: 295.1px;
    height: 172px;
    padding-bottom: 60px;
    gap: 10px;
    font: pretendard;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: #374151;
    align-items: left;

}

footer{

    color: #F3F4F6;
    width: 100%;
    height: 160px;
    padding: 32px 200px 32px 200px;
    gap: 10px;
    background-color: #111827;
    
}

.bottom{

    display: flex;
    width: 100%;
    height: 20px;
    justify-content: space-between;
   
}

.bottom글자들{

    display: flex;
    width: 159px;
    height: 19px;
    gap: 30px; 
}

.코드잇{

    display: flex;
    width: 112px;
    height: 19px;
    font: pretendard;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.09px;
    text-align: center;
    color: #9CA3AF;
    
}

.bottom이미지들{

    display: flex;
    width: 116px;
    height: 20px;
    gap: 12px;
  
}

.PrivacyPolicy{

    display: flex;
    width: 100px;
    height: 19px;
    font: pretendard;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.09px;
    text-align: center;
    color: #E5E7EB;
    text-decoration: none;
    
}

.FAQ{

    display: flex;
    width: 29px;
    height: 19px;
    font: pretendard;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.09px;
    text-align: center;
    color: #E5E7EB;
    text-decoration: none;

}

.페이스북{
    
    display: flex;
    width: 20px;
    height: 20px;
    
}

.트위터{

    display: flex;
    width: 20px;
    height: 20px;

}

.유투브{

    display: flex;
    width: 20px;
    height: 20px;
    
}

.인스타{

    display: flex;
    width: 20px;
    height: 20px;
}

@media (max-width: 1919px) {
    .logo {
        margin-left: 10vw; 
    }
    .login {
        margin-right: 10vw; 
    }
}


@media (max-width: 1600px) {
    .logo {
        margin-left: 20vw; 
    }
    .login {
        margin-right: 20vw; 
    }
}

@media (max-width: 1350px) {
    .logo {
        margin-left: 32.5vw; 
    }
    .login {
        margin-right: 32.5vw; 
    }
}

@media (max-width: 1200px) {
    .top {
        display: flex;
        justify-content: center;
    }
    }




















  




















