.tagsContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-top: 0.5rem;
  width: 100%;
  max-width: 1200px;
}

.tag {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--gray-bright-color-f3f4f6);
  border-radius: 1.625rem;
  padding: 0.375rem 0.75rem 0.375rem 1rem;
}

.tagCancelBtn {
  border: none;
  display: flex;
}
