.bestProduct .title {
  font-size: 20px;
  font-weight: 700;
  margin: 24px 120px;
}

.bestProduct .list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.bestProduct .img {
  max-width: 282px;
  min-width: 282px;
  aspect-ratio: 1 / 1;
  border-radius: 16px;
}

@media (max-width: 1199px) {
  .bestProduct .title {
    margin: 24px 24px;
  }

  .bestProduct .list {
    margin: 0 24px;
    gap: 10px;
  }

  .bestProduct .img {
    max-width: 343px;
    flex: 0 0 50%;
  }
}

@media (max-width: 743px) {
  .bestProduct .title {
    margin: 16px 16px;
  }

  .bestProduct .list {
    margin: 0 16px;
  }

  .bestProduct .img {
    max-width: 100%;
  }
}
