.tag {
  height: 36px;
  display: inline-flex;
  background-color: #f3f4f6;
  padding: 6px 16px;
  width: auto;
  border-radius: 26px;
  align-items: center;
}
.name {
  width: auto;
  margin-right: 8px;
}
.delete {
  width: 22px;
  height: 24px;
  cursor: pointer;
}
