.productCard {
  width: 200px;
  height: 300px;
}

.productName {
  font-size: 15px;
}

.productPrice {
  font-size: 20px;
  font-weight: bold;
}

.productFavoriteCount {
  font-size: 15px;
  color: #4b5563;
}

.productImageWrapper {
  width: 200px;
  height: 200px;
}

.productImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
