@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

:root {
  --click-color: #3692FF;    
  --basic-color: #9CA3AF;
  --simple-color: #E6F2FF;
  --input-color: #F3F4F6;
  --text-color: #1F2937;    
}

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}


body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
  font-size: 1rem; 
  line-height: 3.375rem; 
  background-color: white;
  margin-top: 231px;
  margin-bottom: 284px;
  
}

.login {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 640px;
  height: 100vh;
}

.pandaLogo {
  width: 396px;
  height: 132px;
  gap: 0px;
  opacity: 0px;
}


/* 부모 컨테이너에서 입력 필드와 오류 메시지를 세로로 정렬 */
.email, .password {
  display: flex;
  flex-direction: column;
  gap: 0
}

/* 오류 메시지 스타일 */
.error-message {
  color: red;
  font-size: 15px;
  font-weight: bold;
  display: block;
  margin-top: 0;
  margin-left: 16px;
}



.email label {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color);
}

.email-wrapper input {
  width: 640px; 
  height: 56px; 
  border-radius: 12px;
  padding: 16px 24px; 
  gap: 10px; 
  background-color: var(--input-color); 
  border: none; 
  box-sizing: border-box; 
  font-size: 16px;
  line-height: 24px; 
  color: var(--text-color) 
}


.password label {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color)
}

.password-wrapper {
  position: relative;
  width: 640px;
  height: 56px;
}

.password-wrapper input {
  width: 100%;
  height: 100%;
  padding: 16px 48px 16px 24px;
  border-radius: 12px; 
  gap: 10px; 
  background-color: var(--input-color); 
  border: none; 
  box-sizing: border-box; 
  font-size: 16px;
  line-height: 24px; 
  color: var(--text-color)  
}

.password-wrapper button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.password-wrapper img {
  position: absolute; 
  top: 50%; 
  right: 16px; 
  transform: translateY(-50%); 
  cursor: pointer; 
  width: 24px; 
  height: 24px;
}



.loginButton{
  width: 640px; 
  height: 56px; 
  border-radius: 40px; 
  background-color: var(--basic-color); 
  color: white; 
  font-size: 16px; 
  font-weight: 500; 
  line-height: 24px;
  text-align: center; 
  padding: 16px 124px; 
  border: none; 
  cursor: pointer; 
  margin-top: 24px;
}


.loginButton:focus {
  outline: none;
}


.loginButton:hover {
  background-color: var(--click-color) ; 
}


.loginButton:active {
  background-color: var(--click-color); 
}

.simple {
  display: flex;
  justify-self: center;
  align-items: center;
  background-color: var(--simple-color);
  width: 640px; 
  height:74px;
  margin-top: 24px;
  border-radius: 10px;
}

.textIcon {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 393px;
}

.gkIcon {
  display: flex;
  gap: 16px; 
  margin-top: 16px;
}

.textIcon p {
  margin-left: 23px;
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color)
}

.sign {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 4px;
}

.sign a {
  color: var(--click-color)
}
