<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./reset.css">
  <link rel="stylesheet" href="./login.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
  <title>판다마켓 : 로그인</title>
</head>

<body>
  <div class="login__container">
    <div class="login__logo">
      <a href="./"><img src="../img/login logo.png"></a>
    </div>
    <div class="loginForm">
      <div class="loginForm__email">
        <p>이메일</p>
        <input class="loginForm__input" type="email" id="email" name="email" placeholder="이메일을 입력해주세요" required>
      </div>
      <div class="loginForm__password">
        <p>비밀번호</p>
        <input class="loginForm__input" type="password" id="password" name="password" placeholder="비밀번호를 입력해주세요"
          required>
      </div>
      <div class="login_btn">
        <button>로그인</button>
      </div>
      <div class="easylogin">
        간편 로그인하기
        <div class="easylogin__icon">
          <a href="https://www.google.com/"><img src="../img/google login.png" alt="goolelogin"></a>
          <a href="https://www.kakaocorp.com/"><img src="../img/kakao login.png" alt="kakaologin"></a>
        </div>
      </div>
    </div>
    <div class="signup">
      판다마켓이 처음이신가요?
      <a href="./signup.html">회원가입</a>
    </div>
  </div>
</body>

</html>