footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(17, 24, 39, 1);
  color: rgba(156, 163, 175, 1);
  width: 100%;
  padding: 20px 20px;

  .codeitItem {
    margin-bottom: 80px;
  }

  .footerCenterItem {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    color: rgba(229, 231, 235, 1);

    div {
      cursor: pointer;
    }
  }

  .footerSnsItem {
    display: flex;
    gap: 10px;

    img {
      cursor: pointer;
    }
  }
}

@media (max-width: 1199px) {
  footer {
    padding: 20px 10px;
  }
}

@media (max-width: 743px) {
  footer {
    padding: 20px 5px;
  }
}
