@import "./reset.css";

* {
  font-family: Pretendard;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}
body {
  margin: 0px;
}

.mainBody {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Pretendard;
}

.header {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  position: center;
}

.headerContainer {
  width: 100%;
  height: 51px;
  padding-top: 9.5px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.image {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.faceImg {
  width: 40px;
  height: 40.14px;
}

.headerText {
  justify-content: space-between;
  cursor: pointer;
  padding-left: 8.9px;
  width: 103px;
  height: 26px;
}

.headerLogin {
  background-color: #3692ff;
  width: 128px;
  height: 48px;
  top: 12px;
  border-radius: 10px;
  border-width: 0;
  cursor: pointer;
  color: white;
  font-family: Pretendard;
}
