.footer {
  display: flex;
  justify-content: center;
  background-color: var(--footer-color);
  width: 100%;
  height: 10rem;
  margin-top: 50px;
}

.footer-img {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 120rem;
  padding: 2rem;
}

#icon {
  display: flex;
  gap: 1rem;
  margin-right: 1.5rem;
}

#icon img {
  cursor: pointer;
  width: 20px;
}

.link {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  height: 20px;
}

.link:visited {
  text-decoration: none;
  color: white;
}

#info {
  color: var(--secondary-color);
  margin-left: 2rem;
}

.text-link {
  display: flex;
  gap: 2rem;
  margin: 0 2rem;
}
