@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@font-face {
  font-family: "ROKAF Sans";
  src: url("../asset/font/ROKAF Slab Serif Bold.ttf") format("truetype");
}
:root {
  --primary-color: #3692ff;
  --secondary-color: #9ca3af;
  --background-color: #374151;
  --sub-background-color: #fcfcfc;
  --primary-text-color: #f3f4f6;
  --footer-color: #141826;
  --error-color: #f74747;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1rem;
}

.header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 4.5rem;
  top: 0;
  left: 0;
  z-index: 10;
}

.header-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 120rem;
}

.logo-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 10rem;
  height: 2.5rem;
  margin-left: 1.5rem;
  text-decoration: none;
}
#logo {
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  margin-left: 0;
}

.title {
  font-family: "ROKAF Sans";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: var(--primary-color);
  display: flex;
  margin-left: 0.5rem;
}

#login {
  display: inline-block;
  height: 3rem;
  width: 8rem;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  line-height: 3rem;
  border: none;
  margin-right: 1.5rem;
  margin-left: 1000px;
}

.header-text {
  color: #4b5563;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  margin-left: 40px;
}
