.sub-title {
  font-size: 20px;
  font-weight: 700;
  margin-left: 0px;
}

.best-product {
  margin: auto;
  /* margin-left: 360px; */
  width: 1200px; /*auto*/
}

.sell-product {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.top-sell-product {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.product-button {
  background-color: #3692ff;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding: auto 23px auto 23px;
  border: none;
  height: 42px;
  width: 133px;
  cursor: pointer;
  margin-left: 10px;
}

.search-product {
  background-color: #f3f4f6;
  border: none;
  width: 325px;
  height: 42px;
  border-radius: 12px;
  margin-left: 475px;
}

.order-button {
  margin-right: 0;
  width: 130px;
  height: 42px;
  margin-left: 10px;
  border: 1px;
  border-radius: 12px;
  border-color: #e5e7eb;
  box-shadow: none;
  text-align: center;
}
