.footerCenterItem {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  color: rgba(229, 231, 235, 1);

  div {
    cursor: pointer;
  }
}

.footerSnsItem {
  display: flex;
  gap: 10px;

  img {
    cursor: pointer;
  }
}
