/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    left: 0;
    top: 0;
    padding: 0 12.5rem;
    height: 4.375rem;
    background-color: white;
    border-bottom: 0.041667rem solid rgb(223, 223, 223);
}
header .header_container {
    display: flex;  
    align-items: center;
    gap : 1.5rem;
}
header .header_container nav ul {
    display: flex; 
    align-items: center; 
    gap: 0.625rem; 
}
header .header_container nav ul li {
    padding: 1.3125rem 0.9375rem; 
}
header .header_container nav ul li a {
    color: rgba(75, 85, 99, 1);
    font-weight: 700;
    font-size: 1.125rem; 
}
header .login_link {
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.5rem;
    padding: 0.71875rem 1.4375rem; 
    background-color: rgb(54, 146, 255);
    color: white;
    white-space : nowrap;
}

/* Tablet 화면 (744px ~ 1199px) */
@media (min-width: 46.5rem) and (max-width: 74.9375rem) {
    header {
        padding: 0 1.5rem; /
    }
}

/* Mobile 화면 (375px ~ 743px) */
@media (max-width: 46.4375rem) {
    header {
        padding: 0 1rem; 
    }
}
