@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
/* 문서내 모든 요소를 선택 */
* {
    box-sizing : border-box;
    color : black;
}
/* 최상위 요소인 <html>을 선택한다 */
:root{
    /* 원하는 폰트 가져오기 */
    font-family: Pretendard, sans-serif;
    font-weight: 400;
    font-size : 16px;
}
html, body {
    margin: 0px;
    padding: 0px;
}
h1, h2, h3, h4, h5, h6 , p {
    font-size : 1rem;
    margin: 0rem;
    font-weight: normal;
}
a {
    text-decoration: none;
    color : black;
}
img {
    width : auto;
    height: auto;
    display: block; /* 이미지 아래 여백 제거 */
}
button {
    background: transparent;
    cursor: pointer;
    padding: 0; 
    border: 0rem;
}
ul,ol,li {
    list-style: none;
    margin : 0rem; padding : 0rem;
}
input {
    outline : none; 
}

/*
기본적으로 font-family가 상속되지 않는 대표적인 요소들
<input> <textarea> <select> <button> <optgroup> <option>
*/
/* 아래 내용들을 폰트를 상속 받을 수 있도록 만들어준다. */
input, textarea, select, button, optgroup, option {
    font-family : inherit;
}


/* PC 화면 (1200px 이상) */
@media (min-width: 75rem) {
    
}

/* Tablet 화면 (744px ~ 1199px) */
@media (min-width: 46.5rem) and (max-width: 74.9375rem) {
    
}

/* Mobile 화면 (375px ~ 743px) */
@media (max-width: 46.4375rem) {
    
}