/* 기본 스타일 */

* {
  box-sizing: border-box;
}

body {
  font-family: pretendard;
  margin: 0;
}


/* 일반 스타일 */

.main-header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.landing-page-nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 9px 200px;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 70px;
}

.login-button {
  background-color: #3692ff;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 23px;
}

.header-landing-page {
  height: 540px;
  background-color: #cfe5ff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: end;
  gap: 7px;
}

.top-banner {
  align-self: center;
}

h2.description-text {
  margin-top: 0;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 56px;
  color: #374151;
}

.link {
  position: relative;
  top: 40px;
  text-align: center;
}

a.move-to-shop {
  border-radius: 40px;
  padding: 16px 124px;
  background-color: #3692ff;
  text-decoration: none;
  color: #ffffff;
}

.top-img {
  height: 340px;
}

.section-landing-page {
  display: flex;
  height: 650px;
  padding: 8%;
}

.article-part {
  background-color: #fcfcfc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 64px;
  margin: 0 auto;
  width: 100%;
  height: 444px;
}

.right-align {
  align-self: center;
  text-align: right;
}

.arrangement {
  align-self: center;
}

.img-home {
  width: 588px;
  height: 444px;
}

.main-logo {
  font-size: 1.125rem;
  line-height: 26px;
  font-weight: 700;
  color: #3692ff;
}

p.normal-text {
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: 500;
  color: #374151;
}

.grey-color {
  height: 180px;
  width: 100%;
  background-color: #fcfcfc;
  margin-top: 100px;
}

.footer-landing-page {
  height: 540px;
  background-color: #cfe5ff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: end;
  gap: 7px;
}

.bottom-banner {
  align-self: center;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #111827;
  height: 160px;
  padding: 32px 200px
}

.footer-info {
  font-size: 1rem;
  font-weight: 400;
  color: #9ca3af;
}

.footer-info-link {
  font-size: 1rem;
  font-weight: 400;
}

.privacy-policy, .faq {
  color: #e5e7eb;
  text-decoration: none;
}

/* 동작 스타일 */

.login-button:default {
  background-color: #3692ff;
  cursor: pointer;
}

.login-button:hover {
  background-color: #1967d6;
  cursor: pointer;
}

.login-button:active {
  background-color: #1251aa;
  cursor: pointer;
}

.move-to-shop:default {
  background-color: #3692ff;
  cursor: pointer;
}

.move-to-shop:hover {
  background-color: #1967d6;
  cursor: pointer;
}

.move-to-shop:active{
  background-color: #1251aa;
  cursor: pointer;
}

/* 반응형 스타일 */

@media (max-width: 1200px) {

  .landing-page-nav {
    padding: 16px;
  }

  .footer {
    padding: 32px 16px;
  }

  .header-landing-page, .footer-landing-page {
    flex-direction: column;
    height: 771px;
    justify-content: end;
    align-content: center;
    gap: 100px;
  }

  .move-to-shop {
    width: 80%;
  }

  .section-landing-page {
    padding: 5% 20px;
    height: auto;
  }

  .article-part {
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  .section-landing-page:nth-child(2) .right-align { order: 2; }
  .section-landing-page:nth-child(2) .img-home { order: 1; }

  .arrangement {
    align-self: flex-start;
  }

  .right-align {
    align-self: flex-end;
  }

  .img-home {
    width: 100%;
  }

  .grey-color {
    margin-top: 0;
  }

  body {
    font-size: 14px;
  }

  h2.description-text {
    font-size: 2.3rem;
  }
  
  .description-text > br {
    display : none;
  }

  p.normal-text {
    font-size: 1.3rem;
  }
}

@media (max-width: 744px) {

  .top-banner br, .bottom-banner br {
    display: block;
  }

  .top-banner, .bottom-banner {
    text-align: center;
  }

  body {
    font-size: 12px;
  }

  h2.description-text {
    font-size: 2rem;
  }

  p.normal-text {
    font-size: 1rem;
  }

  .procedure:nth-child(1) {order: 3}
  .procedure:nth-child(2) {order: 1}
  .procedure:nth-child(3) {order: 2}
}